## Random Grouping of Names

In [60]:
import random
import os
import pandas as pd
import numpy as np

In [84]:
def getRandomFirstAndLastNames():
    first_names_filename = os.path.join(r'.\names_dataset', 'first_names.all.txt')
    with open(first_names_filename, 'r', errors='ignore', encoding='utf8') as r:
        first_names = list(set(r.read().strip().split('\n')))
    last_names_filename = os.path.join(r'.\names_dataset', 'last_names.all.txt')
    with open(last_names_filename, 'r', errors='ignore', encoding='utf8') as r:
        last_names = list(set(r.read().strip().split('\n')))
    return first_names, last_names

def getNRandomFullnames(n_names = 50):
    first_names, last_names = getRandomFirstAndLastNames()
    full_name_tuples = list(zip(first_names[:n_names], last_names[:n_names]))
    full_names = [f'{x[0]} {x[1]}' for x in full_name_tuples]
    return full_names

def array2Dense(x, n_groups):
    #z = np.zeros((len(x), n_groups))
    z = np.empty((len(x), n_groups), dtype=str)
    for enu, row in enumerate(x):
        z[enu, :len(row)] += row 
    return z

def padFullNames(full_names, n_groups):
    full_names_target = []
    for _, x in enumerate(full_names):
        n_names = len(x)
        if n_names != n_groups:
            diff = n_groups - n_names
            for i in range(diff):
                x.append('')
        full_names_target.append(x)
    return full_names_target         
    

def getMGroupOfFullnames(full_names, n_groups = 5):
    shuffle_full_names = random.sample(full_names, len(full_names))
    n_items = len(full_names)
    grouped_full_names = [shuffle_full_names[i:i + n_groups] for i in range(0, n_items, n_groups)]
    #grouped_full_names_array = array2Dense(grouped_full_names, n_groups)
    grouped_full_names_padded = padFullNames(grouped_full_names, n_groups)
    grouped_full_names_dict = {f'Team_{i}':x for i, x in enumerate(grouped_full_names_padded)}
    grouped_full_names_df = pd.DataFrame(grouped_full_names_dict)
    return grouped_full_names_df

full_names = getNRandomFullnames(18)
grouped_full_names = getMGroupOfFullnames(full_names)

In [85]:
full_names[:10]

['antravian marin-monroy',
 'elishka gradert',
 'guillaine herbison',
 'marin-monroy chehebar',
 'reynol sifa',
 'sifa steppello',
 'jayz abshier',
 'abshier fantarella',
 'fantarella mollema',
 'minetta fruge']

In [86]:
grouped_full_names

,Team_0,Team_1,Team_2,Team_3
0,sifa steppello,lytia branca,samanthan levitsky,reynol sifa
1,branca boatwright,abshier fantarella,marin-monroy chehebar,elishka gradert
2,minetta fruge,ciprian ciprian,antravian marin-monroy,guillaine herbison
3,jayz abshier,noakes bechtel,fantarella mollema,
4,devries ghea,librun herschaft,middendorf tith,